@model IEnumerable<CEPViewModel>
@{
    ViewData["Title"] = "Solução em CEPs";
}

<h2>Listagem de CEPs</h2>
<table class="table table-striped">
    <thead>        
        <tr>
            <th>CEP</th>
            <th>UF</th>
            <th>Cidade</th>
            <th>Bairro</th>
            <th>Logradouro</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CEP</td>
                <td>@item.UF</td>
                <td>@item.Cidade</td>
                <td>@item.Bairro</td>
                <td>@item.Logradouro</td>
                <td><a class="btn btn-danger" href="Home/Eliminar/@item.CEP" role="button">Eliminar</a></td>
            </tr>                
        }
    </tbody>
</table>
